.vscode/settings.json

# GitHub Wiki sync working directories (created by CI or local runs)
wiki/
wiki-stage/
.DS_Store
packages/backend/.env
packages/backend/db.sqlite3
packages/backend/yetanotherboilerplate-firebase-adminsdk-fbsvc-a8f1ed6c4b.json
packages/flutter_app/web/env/
packages/flutter_app/env/prod.json
